<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>
<body class="bg-light">
<nav th:replace="fragments/navbar :: navbar"/>
<!--BEGIN HIER MET NIEUWE TEMPLATE-->

<!--registerform start-->
<div class="container">
    <h2 class="text-center pt-5 pb-3">Welkom bij Hoeckbank, vul hier uw gegevens in</h2>
    <div class="form-wrapper mx-auto">
        <form th:action="@{do_register}" method="post">
            <table class="table">
                <tbody>
                <tr>
                    <td class="first-row">Gebruikersnaam:</td>
                    <td class="first-row"><input type="text" name="user_name"></td>
                </tr>
                <tr>
                    <td>Wachtwoord:</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Emailadres:</td>
                    <td><input type="email" name="email"></td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <td class="first-row">Aanhef:</td>
                    <td class="first-row"><input type="radio" name="gender" value="male">&nbsp Dhr &nbsp
                        <input type="radio" name="gender" value="female">&nbsp Mevr &nbsp
                        <input type="radio" name="gender" value="other">&nbsp Neutraal
                    </td>
                </tr>
                <tr>
                    <td>Voornaam:</td>
                    <td><input type="text" name="first_name"></td>
                </tr>
                <tr>
                    <td>Tussenvoegsels:</td>
                    <td><input type="text" name="prepositions"></td>
                </tr>
                <tr>
                    <td>Achternaam:</td>
                    <td><input type="text" name="last_name"></td>
                </tr>
                <tr>
                    <td>Straat:</td>
                    <td><input type="text" name="street"></td>
                </tr>
                <tr>
                    <td>Huisnummer:</td>
                    <td><input type="number" name="house_number"></td>
                </tr>
                <tr>
                    <td>Postcode:</td>
                    <td><input type="text" name="postcode"></td>
                </tr>
                <tr>
                    <td>Woonplaats:</td>
                    <td><input type="text" name="city"></td>
                </tr>
                <tr>
                    <td>Telefoonnummer:</td>
                    <td><input type="tel" name="telephone"></td>
                </tr>
                <tr>
                    <td>&nbsp</td>
                    <td>&nbsp</td>
                </tr>
                <tr>
                    <td class="first-row">Geboortedatum:</td>
                    <td class="first-row"><input type="date" name="dob"></td>
                </tr>
                <tr>
                    <td>BSN-nummer:</td>
                    <td><input type="text" name="bsn"></td>
                </tr>
                <tr>
                    <td>Ik ga akkoord met de algemene voorwaarden *</td>
                    <td><input type="checkbox" name="agree"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="#"><button class="btn btn-primary my-2 my-sm-0" type="submit">Registreer</button></a></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</div><!--registerform end-->

<!--NIEUWE TEMPLATE TOT HIER-->
<footer th:replace="fragments/footer :: footer"/>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>