<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>
<body class="bg-light">
<nav th:replace="fragments/navbarloguit :: navbar"/>
<!--BEGIN HIER MET NIEUWE TEMPLATE-->
<section id="rekening-detail">
    <div class="container">
            <div class="form-wrapper mx-auto mt-5">
                <h3 class="text-center mb-5">Rekening van: <span th:text="${rekening.tenaamstelling}"/></h3>
                <table class="table" id="rekening-detail-table">
                    <tr>
                        <th class="">Rekeningnummer</th>
                        <th class="">Saldo</th>
                        <th class="">Mederekeninghouders</th>
                    <tr>
                    <tr>
                        <td class=""><span th:text="${rekening.rekeningnummer}"/></td>
                        <td class="">€ <span th:text="${#numbers.formatDecimal(rekening.saldo, 1, 'POINT', 2, 'COMMA')}"/></td>
                        <td class=""><select name="rekeninghouders">
                            <option th:each="rekeninghouder : ${rekeninghouders}" th:text="${rekeninghouder}">Geen mederekeninghouder(s)
                            </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="rekeningenoverzicht" class="text-muted cancel-link">Terug naar rekeningenoverzicht</a></td>
                        <td><a th:href="@{/betalingmaken(id=${rekening.rekeningID})}">
                            <button class="btn btn-primary my-2 my-sm-0" type="submit" value="select-rekening"><i class="fas fa-hand-holding-usd mr-2"></i>Overmaken</button>
                            </a>
                        </td>
                        <td><a th:href="@{/toevoegenrekeninghouder(id=${rekening.rekeningID})}" class="text-muted cancel-link"><i class="fas fa-plus-circle mr-1"></i>Voeg houder toe</a></td>
                    </tr>
                </table>
            </div>
            <div class="form-wrapper mx-auto mt-5 bg-white border border-muted">
                <h2 class="text-center">Transactie-overzicht</h2>
                <table class="table">
                    <tr class="font-weight-bold">
                        <td class="first-row">Datum</td>
                        <td class="first-row">Omschrijving</td>
                        <td class="first-row">Tegenrekening</td>
                        <td class="first-row">Bedrag</td>
                    </tr>
                    <tr th:each="transactie : ${transacties}" class="table-row-link">
                        <!--<td><span th:text="${transactie.datum}"/></td>-->
                        <td><span th:text="${#temporals.format(transactie.datum, 'dd-MM-yyyy HH:mm')}" /></td>
                        <!--th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}"-->
                        <!--<td><span th:text="${#temporals.formatISO(transactie.datum)}"/></td>-->
                        <!--<p th:text="${#temporals.formatISO(localDateTime)}"></p>-->
                        <td><span th:text="${transactie.omschrijving}"/></td>
                        <td><span th:text="${transactie.tegenRekening}"/></td>
                        <td>€ <span th:text="${#numbers.formatDecimal(transactie.bedrag, 1, 'POINT', 2, 'COMMA')}"/></td>
                    </tr>
                </table>
            </div>
    </div>
</section>

<script>
    window.onload = function () {
        let current_datetime = new Date()
        let formatted_date = current_datetime.getDate() + "-" + (current_datetime.getMonth() + 1)
            + "-" + current_datetime.getFullYear() + " - " + current_datetime.getHours()
            + ":" + current_datetime.getMinutes();
        console.log(formatted_date);
        document.getElementById("date-time").innerHTML = formatted_date;
    }
</script>


<!--NIEUWE TEMPLATE TOT HIER-->
<footer th:replace="fragments/footer :: footer"/>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</html>