/*BS Overwrites*/

/*Typography*/
body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
}

.validate-error{
    color:red;
}

.carousel-caption > h5{
    font-size: 3rem;
    text-shadow: 2px 2px 8px black;
}

.carousel-caption > p{
    font-size: 2rem;
    text-shadow: 2px 2px 8px black;
}

/*Links*/
a:link{
    color: blue;
}

a:visited{
    color: inherit;
}

.nav-link:hover{
    color: #666363;
    text-decoration: underline;
}

a:active{
    color: #666363;
}

/*Colors*/
.btn-primary{
    background-color: #ed6c39;
    border-color :#ed6c39;
}

.btn-primary:hover{
    background-color: white;
    border-color: #ed6c39;
    color: #ed6c39;
}

/*Own stylings*/
.rounded{
    border-radius: .5rem!important;
}

.form-wrapper{
    width: 75%;
    padding: 2rem 2rem;
    border-radius: .5rem;
    background-color: #e9ecef;
}

.first-row{
    border-top: none !important;
}

table{
    table-layout:fixed;
}

#register-form tr > *:nth-child(1) { width:10%; }
#register-form tr > *:nth-child(2) { width:30%; }
#register-form tr > *:nth-child(3) { width:60%; }

th.from, th.date {
    width: 10%;
}
th.subject{
    width: 70%;
}

.register-form-input{
    width: 75%;
}

/*
martijn
 */



