/*BS Overwrites*/

/*Typography*/
body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', sans-serif;
}

.validate-error{
    color:red;
}


.validate-ok{
    color: #28a745!important;
}

.validate-field-error{
    background-color: rgba(255, 0, 0, 0.4);
}

.validate-field-ok{
    background-color: rgba(0, 255, 0, 0.4);
}

button[disabled=disabled], button:disabled {
    cursor: not-allowed;
    background-color: rgba(237, 108, 57, 0.4)!important;
    border-color: rgba(237, 108, 57, 0.4)!important;
}

.carousel-caption > h5{
    font-size: 3rem;
    text-shadow: 2px 2px 8px black;
}

.carousel-caption > p{
    font-size: 2rem;
    text-shadow: 2px 2px 8px black;
}

/*Links*/
a:link{
    color: blue;
    text-decoration: none;
}

a:visited{
    color: inherit;
}

.nav-link:hover{
    color: #666363;
    text-decoration: underline;
}

a:active{
    color: #666363;
}

/*Colors*/
.btn-primary{
    background-color: #ed6c39;
    border-color :#ed6c39;
}

.btn-primary:hover{
    background-color: white;
    border-color: #ed6c39;
    color: #ed6c39;
}

/*Own stylings*/
.hidden{
    display: none;
}
.rounded{
    border-radius: .5rem!important;
}

.form-wrapper{
    width: 90%;
    padding: 2rem 2rem;
    border-radius: .5rem;
    background-color: #e9ecef;
}

.first-row{
    border-top: none !important;
}

table{
    table-layout:fixed;
}

#register-form tr > *:nth-child(1) { width:10%; }
#register-form tr > *:nth-child(2) { width:30%; }
#register-form tr > *:nth-child(3) { width:60%; }

#rekening-detail-table tr { width:33%;}

th.from, th.date {
    width: 10%;
}
th.subject{
    width: 70%;
}

.register-form-input{
    width: 80%;
}

select{
    width: 80%;
}

.table tbody+tbody{
    border-top: none;
}

#new-rekening-table tr > *:nth-child(1) { width:30%; }
#new-rekening-table tr > *:nth-child(2) { width:40%; }
#new-rekening-table tr > *:nth-child(3) { width:30%; }

#overzicht-rekening-table tr > *:nth-child(1) { width:30%; }
#overzicht-rekening-table tr > *:nth-child(2) { width:45%; }
#overzicht-rekening-table tr > *:nth-child(3) { width:25%; }

.table-row-link td a {
    display: block;
    color: black!important;
}

.table-row-link td a:link {
    color: black!important;
}
.table-row-link:hover {
    background: #666363!important;
    color: white!important;
}

.table-row-link td a:hover {
    color: white;
    text-decoration: none;
}

table th{
    font-weight: bold;
}

.cancel-link:link{
    text-decoration: underline;
    color: #6C757D;
}

.cancel-link:hover{
    color: #343a40 !important;
}