<!--footer start-->
<footer th:fragment="footer" class="bg-secondary border-top border-dark text-light mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li class="py-1">Over Hoeckbank</li>
                    <li class="py-1">Jaarverslag</li>
                    <li class="py-1">Pers</li>
                    <li class="py-1">Contact</li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li class="py-1">Vacatures</li>
                    <li class="py-1">Duurzaamheid</li>
                    <li class="py-1">Veel gestelde vragen</li>
                    <li class="py-1">Disclaimer</li>
                </ul>
            </div>
            <div class="col-sm-6 text-right">
                <p>Volg ons</p>
                <i class="fab fa-facebook-square fa-3x mr-2"></i>
                <i class="fab fa-twitter-square fa-3x mr-2"></i>
                <i class="fab fa-linkedin fa-3x"></i>
            </div>
        </div>
    </div>
</footer>