<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=egde">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoeckbank - Bij ons zit u goed!</title>
    <meta name="description" content="De Hoeckbank, de bank voor gezinnen">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b302a45ba.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <script src="js/registerform.js" defer></script>
    <script src="js/registervalidation.js" defer></script>
</head>